In [1]:
import pandas as pd 
import numpy as np
from qiime2 import Artifact
import os

Import of the final sample dataset obtained in the EDA notebook:

In [2]:
data = pd.read_csv('data_final_groups.csv',dtype = {"sample_name": "str"},index_col=0)
data

,sample_name,acid_reflux,acne_medication,acne_medication_otc,add_adhd,age_cat,age_corrected,age_years,alcohol_consumption,alcohol_frequency,...,vitamin_b_supplement_frequency,vitamin_d_supplement_frequency,vivid_dreams,weight_cat,weight_change,weight_kg,weight_units,whole_eggs,whole_grain_frequency,group
0,10317.000023139,No,No,No,No,60s,69.0,69.0,Yes,Rarely (a few times/month),...,Regularly (3-5 times/week),Daily,Never,NaN,Remained stable,63,kilograms,Regularly (3-5 times/week),Regularly (3-5 times/week),Treatment
1,10317.000027811,No,No,No,No,40s,46.0,46.0,Yes,Rarely (a few times/month),...,Rarely (a few times/month),Regularly (3-5 times/week),Rarely (a few times/month),NaN,Remained stable,81,kilograms,Occasionally (1-2 times/week),Rarely (less than once/week),Treatment
2,10317.000031513,Self-diagnosed,No,No,Not provided,30s,37.0,37.0,Yes,Regularly (3-5 times/week),...,Never,Rarely (a few times/month),Rarely (a few times/month),NaN,Remained stable,49,kilograms,Occasionally (1-2 times/week),Rarely (less than once/week),Treatment
3,10317.000033280,No,No,No,No,60s,60.0,60.0,Yes,Regularly (3-5 times/week),...,Never,Never,Never,NaN,Remained stable,68,kilograms,Occasionally (1-2 times/week),Regularly (3-5 times/week),Treatment
4,10317.000038261,No,No,No,No,40s,48.0,48.0,Yes,Regularly (3-5 times/week),...,Never,Never,Occasionally (1-2 times/week),NaN,Remained stable,70,kilograms,Rarely (less than once/week),Occasionally (1-2 times/week),Treatment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,10317.000065667,No,No,No,No,20s,22.0,22.0,Yes,Occasionally (1-2 times/week),...,Never,Never,Rarely (a few times/month),NaN,Remained stable,61,kilograms,Regularly (3-5 times/week),Never,Control
376,10317.000065673,No,No,Yes,No,20s,20.0,20.0,No,Never,...,Never,Never,Occasionally (1-2 times/week),NaN,Remained stable,79,kilograms,Never,Rarely (less than once/week),Control
377,10317.000065675,No,No,No,No,20s,21.0,21.0,No,Never,...,Never,Never,Daily,NaN,Remained stable,51,kilograms,Never,Regularly (3-5 times/week),Control
378,10317.000065681,No,No,Yes,No,20s,21.0,21.0,No,Never,...,Never,Never,Rarely (a few times/month),NaN,Remained stable,137,kilograms,Rarely (less than once/week),Rarely (less than once/week),Control
379,10317.000065684,No,No,No,No,20s,20.0,20.0,No,Never,...,Rarely (a few times/month),Occasionally (1-2 times/week),Rarely (a few times/month),NaN,Remained stable,58,kilograms,Rarely (less than once/week),Regularly (3-5 times/week),Control

In [3]:
data.specialized_diet_exclude_refined_sugars.value_counts()

Yes    190
No     190
Name: specialized_diet_exclude_refined_sugars, dtype: int64

## Metadata file creation

In [4]:
metadata = data.sample_name.to_frame()

In [5]:
metadata = metadata.rename(columns={'sample_name': 'sample-id'})

In [6]:
# Aggiungiamo al manifest le informazioni riguardo l'età, il sesso e l'uso degli antibiotici
metadata['sex'] = data['sex']
metadata['age_cat'] = data['age_cat']
metadata['refined_sugars'] = data['specialized_diet_exclude_refined_sugars']
metadata

           sample-id     sex age_cat refined_sugars
0    10317.000023139  female     60s            Yes
1    10317.000027811    male     40s            Yes
2    10317.000031513  female     30s            Yes
3    10317.000033280  female     60s            Yes
4    10317.000038261  female     40s            Yes
..               ...     ...     ...            ...
375  10317.000065667  female     20s             No
376  10317.000065673  female     20s             No
377  10317.000065675  female     20s             No
378  10317.000065681  female     20s             No
379  10317.000065684  female     20s             No

[380 rows x 4 columns]

In [7]:
metadata['sample-id'].to_csv("ids.txt",header=None,index=None)

In [8]:
metadata.refined_sugars.value_counts()

Yes    190
No     190
Name: refined_sugars, dtype: int64

In [9]:
metadata.to_csv('sample_metadata.tsv', sep='\t', index=False)

In [10]:
from qiime2 import Metadata
sample_metadata = Metadata.load(os.getcwd()+'/sample_metadata.tsv')

Import Fasta 99% otus containing Taxonomy

In [11]:
!qiime tools import --type 'FeatureData[Sequence]' --input-path gg_13_8_otus/rep_set/99_otus.fasta \
    --output-path rep_set.qza

Imported gg_13_8_otus/rep_set/99_otus.fasta as DNASequencesDirectoryFormat to rep_set.qza

In [19]:
otu_table_df = pd.read_csv("otu_table.tsv",sep="\t", skiprows=1)

Aggiungere comando per tirare giù otutable

In [15]:
!export ctx=Pick_closed-reference_OTUs-Greengenes-Illumina-16S-V4-5c6506

In [16]:
!redbiom fetch samples --from ids.txt --context $ctx --output ids_extended.biom

Traceback (most recent call last):
  File "/home/LABORATORI/gr887277/.local/bin/redbiom", line 5, in <module>
    from redbiom.commands import cli
ModuleNotFoundError: No module named 'redbiom'

Aggiungere comando per trasformare .biom in .tsv

In [ ]:
!biom convert -i ids.biom -o otu_table.tsv --to-tsv

In [20]:
otu_table_df

,#OTU ID,10317.000023139.25853,10317.000027811.25853,10317.000031513.25853,10317.000033280.31503,10317.000038261.33800,10317.000041075.48742,10317.000050189.26531,10317.000051222.53379,10317.000052017.26531,...,10317.000062080.26531,10317.000062200.26480,10317.000062201.69016,10317.000063259.31503,10317.000065483.33800,10317.000065667.26478,10317.000065673.25853,10317.000065675.25853,10317.000065681.25853,10317.000065684.25853
0,305247,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4324196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1107674,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,175836,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,21.0
4,3410999,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6899,189760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,19.0,1.0
6900,199962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6901,4425390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6902,4377144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6903,181836,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [117]:
!biom convert -i otu_table_filt.tsv -o otu_table_filt.biom --table-type="OTU table" --to-hdf5

In [21]:
!qiime feature-table filter-seqs --i-data rep_set.qza --m-metadata-file otu_table.tsv --o-filtered-data rep_set_filt.qza

Saved FeatureData[Sequence] to: rep_set_filt.qza

In [135]:
!biom convert -i otu_table_reorder.tsv -o otu_table_reorder.biom --table-type="OTU table" --to-hdf5

In [22]:
!qiime tools import \
  --input-path otu_table.biom\
  --type 'FeatureTable[Frequency]' \
  --input-format BIOMV210Format \
  --output-path feature_table.qza

Imported otu_table.biom as BIOMV210Format to feature_table.qza

In [23]:
from qiime2 import Artifact
otu_table = Artifact.load("feature_table.qza")
rep_set = Artifact.load("rep_set_filt.qza")

In [24]:
ot_df = otu_table.view(pd.DataFrame)

In [25]:
ot_df

,2941399,4425663,353737,363646,1090458,922239,845273,185021,293665,4453060,...,213762,179905,4324040,333726,199147,1808779,173916,435264,325586,4307347
10317.000023139.25853,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000027811.25853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000031513.25853,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000033280.31503,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000038261.33800,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10317.000065667.26478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000065673.25853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000065675.25853,0.0,81.0,0.0,0.0,92.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000065681.25853,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000065684.25853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [112]:
ot_df_filt = ot_df.loc[ot_df.index.isin(meta_table_filt["sample-id"])]

In [115]:
ot_df_filt.to_csv("otu_table_filt.tsv",sep="\t")

In [26]:
from qiime2.plugins import alignment, phylogeny
mafft_alignment = alignment.methods.mafft(rep_set)
masked_mafft_alignment = alignment.methods.mask(mafft_alignment.alignment)
unrooted_tree = phylogeny.methods.fasttree(masked_mafft_alignment.masked_alignment)
rooted_tree = phylogeny.methods.midpoint_root(unrooted_tree.tree)

Running external command line application. This may print messages to stdout and/or stderr.
The command being run is below. This command cannot be manually re-run as it will depend on temporary files that no longer exist.

Command: mafft --preservecase --inputorder --thread 1 /tmp/qiime2/gr887277/data/31ce2045-ca0e-491c-8f36-3162bde21e4b/data/dna-sequences.fasta

inputfile = orig
6904 x 1951 - 1299 d
nthread = 1
nthreadpair = 1
nthreadtb = 1
ppenalty_ex = 0
stacksize: 8192 kb
generating a scoring matrix for nucleotide (dist=200) ... done
Gap Penalty = -1.53, +0.00, +0.00



Making a distance matrix ..

There are 2547 ambiguous characters.
 6901 / 6904 (thread    0)
done.

Constructing a UPGMA tree (efffree=0) ...
 6900 / 6904
done.

Progressive alignment 1/2...
STEP  4701 / 6903 (thread    0)
Reallocating..done. *alloclen = 4957
STEP  6701 / 6903 (thread    0)
Reallocating..done. *alloclen = 7181
STEP  6801 / 6903 (thread    0)
Reallocating..done. *alloclen = 8406

Reallocating..done. *alloclen = 10312
STEP  6901 / 6903 (thread    0) h
done.

Making a distance matrix from msa..
 6900 / 6904 (thread    0)
done.

Constructing a UPGMA tree (efffree=1) ...
 6900 / 6904
done.

Progressive alignment 2/2...
STEP  4601 / 6903 (thread    0)
Reallocating..done. *alloclen = 4953
STEP  6701 / 6903 (thread    0)
Reallocating..done. *alloclen = 5975
STEP  6801 / 6903 (thread    0)
Reallocating..done. *alloclen = 7145

Reallocating..done. *alloclen = 8372

Reallocating..done. *alloclen = 10096
STEP  6901 / 6903 (thread    0) h
done.

disttbfast (nuc) Version 7.515
alg=A, model=DNA200 (2), 1.53 (4.59), -0.00 (-0.00), noshift, amax=0.0
1 thread(s)


Strategy:
 FFT-NS-2 (Fast but rough)
 Progressive method (guide trees were built 2 times.)

If unsure which option to use, try 'mafft --auto input > output'.
For more information, see 'mafft --help', 'mafft --man' and the mafft page.

The default gap scoring scheme has been changed in version 7.110 (2013 Oct).
It tends to insert more gaps into gap-rich regions than previous versions.
To disable this change, add the --leavegappyregion option.

Running external command line application. This may print messages to stdout and/or stderr.
The command being run is below. This command cannot be manually re-run as it will depend on temporary files that no longer exist.

Command: FastTree -quote -nt /tmp/qiime2/gr887277/data/72001f7a-e1e9-4454-bcb0-7727ad60d18f/data/aligned-dna-sequences.fasta

FastTree Version 2.1.11 Double precision (No SSE3)
Alignment: /tmp/qiime2/gr887277/data/72001f7a-e1e9-4454-bcb0-7727ad60d18f/data/aligned-dna-sequences.fasta
Nucleotide distances: Jukes-Cantor Joins: balanced Support: SH-like 1000
Search: Normal +NNI +SPR (2 rounds range 10) +ML-NNI opt-each=1
TopHits: 1.00*sqrtN close=default refresh=0.80
ML Model: Jukes-Cantor, CAT approximation with 20 rate categories
Ignored unknown character B (seen 17 times)
Ignored unknown character D (seen 5 times)
Ignored unknown character H (seen 1 times)
Ignored unknown character K (seen 115 times)
Ignored unknown character M (seen 100 times)
Ignored unknown character R (seen 181 times)
Ignored unknown character S (seen 121 times)
Ignored unknown character V (seen 13 times)
Ignored unknown character W (seen 88 times)
Ignored unknown character X (seen 1595 times)
Ignored unknown character Y (seen 190 times)
      5.44 seconds: Top hits for   1724 of   6904 seqs (at seed    100)
      8.34 seconds: Top hits for   3056 of   6904 seqs (at seed    200)
      9.61 seconds: Top hits for   3388 of   6904 seqs (at seed    300)
     10.73 seconds: Top hits for   3670 of   6904 seqs (at seed    400)
     11.71 seconds: Top hits for   3937 of   6904 seqs (at seed    500)
     12.96 seconds: Top hits for   4175 of   6904 seqs (at seed    600)
     14.11 seconds: Top hits for   4395 of   6904 seqs (at seed    700)
     15.06 seconds: Top hits for   4603 of   6904 seqs (at seed    800)
     16.17 seconds: Top hits for   4875 of   6904 seqs (at seed    900)
     16.82 seconds: Top hits for   4999 of   6904 seqs (at seed   1000)
     17.58 seconds: Top hits for   5158 of   6904 seqs (at seed   1100)
     18.41 seconds: Top hits for   5304 of   6904 seqs (at seed   1200)
     19.06 seconds: Top hits for   5430 of   6904 seqs (at seed   1300)
     19.60 seconds: Top hits for   5543 of   6904 seqs (at seed   1400)
     20.40 seconds: Top hits for   5701 of   6904 seqs (at seed   1500)
     20.77 seconds: Top hits for   5731 of   6904 seqs (at seed   1600)
     21.14 seconds: Top hits for   5756 of   6904 seqs (at seed   1700)
     21.77 seconds: Top hits for   5859 of   6904 seqs (at seed   1800)
     22.53 seconds: Top hits for   5932 of   6904 seqs (at seed   1900)
     23.20 seconds: Top hits for   5996 of   6904 seqs (at seed   2000)
     23.87 seconds: Top hits for   6062 of   6904 seqs (at seed   2100)
     24.06 seconds: Top hits for   6082 of   6904 seqs (at seed   2200)
     24.56 seconds: Top hits for   6160 of   6904 seqs (at seed   2300)
     24.79 seconds: Top hits for   6175 of   6904 seqs (at seed   2400)
     25.15 seconds: Top hits for   6202 of   6904 seqs (at seed   2500)
     25.60 seconds: Top hits for   6226 of   6904 seqs (at seed   2600)
     25.79 seconds: Top hits for   6248 of   6904 seqs (at seed   2700)
     26.11 seconds: Top hits for   6274 of   6904 seqs (at seed   2800)
     26.30 seconds: Top hits for   6288 of   6904 seqs (at seed   2900)
     26.65 seconds: Top hits for   6309 of   6904 seqs (at seed   3000)
     26.83 seconds: Top hits for   6315 of   6904 seqs (at seed   3100)
     27.09 seconds: Top hits for   6328 of   6904 seqs (at seed   3200)
     27.54 seconds: Top hits for   6362 of   6904 seqs (at seed   3300)
     28.19 seconds: Top hits for   6439 of   6904 seqs (at seed   3400)
     28.88 seconds: Top hits for   6484 of   6904 seqs (at seed   3500)
     29.32 seconds: Top hits for   6514 of   6904 seqs (at seed   3600)
     29.77 seconds: Top hits for   6537 of   6904 seqs (at seed   3700)
     30.40 seconds: Top hits for   6565 of   6904 seqs (at seed   3800)
     30.65 seconds: Top hits for   6573 of   6904 seqs (at seed   3900)
     30.90 seconds: Top hits for   6580 of   6904 seqs (at seed   4000)
     31.20 seconds: Top hits for   6601 of   6904 seqs (at seed   4100)
     31.55 seconds: Top hits for   6620 of   6904 seqs (at seed   4200)
     31.84 seconds: Top hits for   6635 of   6904 seqs (at seed   4300)
     32.31 seconds: Top hits for   6657 of   6904 seqs (at seed   4400)
     32.64 seconds: Top hits for   6669 of   6904 seqs (at seed   4500)
     33.14 seconds: Top hits for   6689 of   6904 seqs (at seed   4600)
     33.61 seconds: Top hits for   6706 of   6904 seqs (at seed   4700)
     34.27 seconds: Top hits for   6731 of   6904 seqs (at seed   4800)
     34.74 seconds: Top hits for   6753 of   6904 seqs (at seed   4900)
     35.32 seconds: Top hits for   6773 of   6904 seqs (at seed   5000)
     35.90 seconds: Top hits for   6791 of   6904 seqs (at seed   5100)
     36.40 seconds: Top hits for   6809 of   6904 seqs (at seed   5300)
     36.56 seconds: Top hits for   6813 of   6904 seqs (at seed   5400)
     36.81 seconds: Top hits for   6819 of   6904 seqs (at seed   5500)
     37.07 seconds: Top hits for   6825 of   6904 seqs (at seed   5600)
     37.36 seconds: Top hits for   6834 of   6904 seqs (at seed   5700)
     37.82 seconds: Top hits for   6849 of   6904 seqs (at seed   5800)
     38.04 seconds: Top hits for   6865 of   6904 seqs (at seed   5900)
     38.16 seconds: Top hits for   6868 of   6904 seqs (at seed   6000)
     38.33 seconds: Top hits for   6872 of   6904 seqs (at seed   6100)
     38.66 seconds: Top hits for   6880 of   6904 seqs (at seed   6300)
     38.87 seconds: Top hits for   6886 of   6904 seqs (at seed   6400)
     39.11 seconds: Top hits for   6893 of   6904 seqs (at seed   6500)
     39.23 seconds: Top hits for   6896 of   6904 seqs (at seed   6600)
     39.35 seconds: Top hits for   6899 of   6904 seqs (at seed   6700)
     39.48 seconds: Top hits for   6903 of   6904 seqs (at seed   6900)
     40.00 seconds: Joined    100 of   6901
     41.91 seconds: Joined    200 of   6901
     43.11 seconds: Joined    300 of   6901
     45.37 seconds: Joined    400 of   6901
     46.78 seconds: Joined    500 of   6901
     49.49 seconds: Joined    600 of   6901
     52.57 seconds: Joined    700 of   6901
     55.18 seconds: Joined    800 of   6901
     56.42 seconds: Joined    900 of   6901
     59.14 seconds: Joined   1000 of   6901
     62.09 seconds: Joined   1100 of   6901
     65.18 seconds: Joined   1200 of   6901
     68.25 seconds: Joined   1300 of   6901
     70.85 seconds: Joined   1400 of   6901
     72.66 seconds: Joined   1500 of   6901
     76.27 seconds: Joined   1600 of   6901
     77.94 seconds: Joined   1700 of   6901
     81.13 seconds: Joined   1800 of   6901
     84.14 seconds: Joined   1900 of   6901
     86.67 seconds: Joined   2000 of   6901
     89.25 seconds: Joined   2100 of   6901
     92.48 seconds: Joined   2200 of   6901
     93.24 seconds: Joined   2300 of   6901
     95.86 seconds: Joined   2400 of   6901
     98.39 seconds: Joined   2500 of   6901
    100.19 seconds: Joined   2600 of   6901
    101.84 seconds: Joined   2700 of   6901
    103.95 seconds: Joined   2800 of   6901
    106.49 seconds: Joined   2900 of   6901
    108.74 seconds: Joined   3000 of   6901
    109.88 seconds: Joined   3100 of   6901
    111.82 seconds: Joined   3200 of   6901
    113.87 seconds: Joined   3300 of   6901
    116.61 seconds: Joined   3400 of   6901
    119.08 seconds: Joined   3500 of   6901
    121.95 seconds: Joined   3600 of   6901
    124.23 seconds: Joined   3700 of   6901
    125.35 seconds: Joined   3800 of   6901
    127.84 seconds: Joined   3900 of   6901
    130.57 seconds: Joined   4000 of   6901
    132.15 seconds: Joined   4100 of   6901
    135.96 seconds: Joined   4200 of   6901
    137.49 seconds: Joined   4300 of   6901
    139.22 seconds: Joined   4400 of   6901
    140.56 seconds: Joined   4500 of   6901
    144.11 seconds: Joined   4600 of   6901
    145.44 seconds: Joined   4700 of   6901
    146.81 seconds: Joined   4800 of   6901
    149.11 seconds: Joined   4900 of   6901
    151.08 seconds: Joined   5000 of   6901
    152.87 seconds: Joined   5100 of   6901
    154.40 seconds: Joined   5200 of   6901
    155.68 seconds: Joined   5300 of   6901
    157.29 seconds: Joined   5400 of   6901
    158.15 seconds: Joined   5500 of   6901
    160.17 seconds: Joined   5700 of   6901
    161.40 seconds: Joined   5800 of   6901
    162.70 seconds: Joined   5900 of   6901
    163.97 seconds: Joined   6000 of   6901
    164.66 seconds: Joined   6100 of   6901
    165.99 seconds: Joined   6200 of   6901
    167.18 seconds: Joined   6300 of   6901
    168.61 seconds: Joined   6400 of   6901
    171.04 seconds: Joined   6600 of   6901
    172.58 seconds: Joined   6700 of   6901
    173.96 seconds: Joined   6800 of   6901
    174.84 seconds: Joined   6900 of   6901
Initial topology in 174.85 seconds
Refining topology: 51 rounds ME-NNIs, 2 rounds ME-SPRs, 26 rounds ML-NNIs
    174.98 seconds: ME NNI round 1 of 51, 301 of 6902 splits, 57 changes (max delta 0.011)
    175.12 seconds: ME NNI round 1 of 51, 601 of 6902 splits, 125 changes (max delta 0.011)
    175.26 seconds: ME NNI round 1 of 51, 901 of 6902 splits, 171 changes (max delta 0.011)
    175.40 seconds: ME NNI round 1 of 51, 1201 of 6902 splits, 244 changes (max delta 0.018)
    175.53 seconds: ME NNI round 1 of 51, 1501 of 6902 splits, 294 changes (max delta 0.018)
    175.67 seconds: ME NNI round 1 of 51, 1801 of 6902 splits, 371 changes (max delta 0.018)
    175.82 seconds: ME NNI round 1 of 51, 2101 of 6902 splits, 454 changes (max delta 0.019)
    175.96 seconds: ME NNI round 1 of 51, 2401 of 6902 splits, 524 changes (max delta 0.021)
    176.11 seconds: ME NNI round 1 of 51, 2701 of 6902 splits, 595 changes (max delta 0.021)
    176.25 seconds: ME NNI round 1 of 51, 3001 of 6902 splits, 674 changes (max delta 0.021)
    176.40 seconds: ME NNI round 1 of 51, 3301 of 6902 splits, 754 changes (max delta 0.032)
    176.54 seconds: ME NNI round 1 of 51, 3601 of 6902 splits, 824 changes (max delta 0.032)
    176.69 seconds: ME NNI round 1 of 51, 3901 of 6902 splits, 903 changes (max delta 0.032)
    176.83 seconds: ME NNI round 1 of 51, 4201 of 6902 splits, 982 changes (max delta 0.032)
    176.93 seconds: ME NNI round 1 of 51, 4401 of 6902 splits, 1037 changes (max delta 0.032)
    177.04 seconds: ME NNI round 1 of 51, 4601 of 6902 splits, 1113 changes (max delta 0.032)
    177.14 seconds: ME NNI round 1 of 51, 4801 of 6902 splits, 1157 changes (max delta 0.032)
    177.28 seconds: ME NNI round 1 of 51, 5101 of 6902 splits, 1234 changes (max delta 0.032)
    177.42 seconds: ME NNI round 1 of 51, 5401 of 6902 splits, 1297 changes (max delta 0.032)
    177.57 seconds: ME NNI round 1 of 51, 5701 of 6902 splits, 1366 changes (max delta 0.032)
    177.71 seconds: ME NNI round 1 of 51, 6001 of 6902 splits, 1438 changes (max delta 0.032)
    177.86 seconds: ME NNI round 1 of 51, 6301 of 6902 splits, 1502 changes (max delta 0.032)
    178.00 seconds: ME NNI round 1 of 51, 6601 of 6902 splits, 1567 changes (max delta 0.032)
    178.14 seconds: ME NNI round 1 of 51, 6901 of 6902 splits, 1631 changes (max delta 0.032)
    178.27 seconds: ME NNI round 2 of 51, 301 of 6902 splits, 42 changes (max delta 0.010)
    178.41 seconds: ME NNI round 2 of 51, 601 of 6902 splits, 74 changes (max delta 0.010)
    178.54 seconds: ME NNI round 2 of 51, 901 of 6902 splits, 102 changes (max delta 0.010)
    178.67 seconds: ME NNI round 2 of 51, 1201 of 6902 splits, 139 changes (max delta 0.010)
    178.80 seconds: ME NNI round 2 of 51, 1501 of 6902 splits, 168 changes (max delta 0.010)
    178.94 seconds: ME NNI round 2 of 51, 1801 of 6902 splits, 210 changes (max delta 0.021)
    179.09 seconds: ME NNI round 2 of 51, 2101 of 6902 splits, 263 changes (max delta 0.021)
    179.24 seconds: ME NNI round 2 of 51, 2401 of 6902 splits, 332 changes (max delta 0.021)
    179.38 seconds: ME NNI round 2 of 51, 2701 of 6902 splits, 376 changes (max delta 0.021)
    179.52 seconds: ME NNI round 2 of 51, 3001 of 6902 splits, 426 changes (max delta 0.021)
    179.67 seconds: ME NNI round 2 of 51, 3301 of 6902 splits, 471 changes (max delta 0.021)
    179.81 seconds: ME NNI round 2 of 51, 3601 of 6902 splits, 513 changes (max delta 0.021)
    179.95 seconds: ME NNI round 2 of 51, 3901 of 6902 splits, 557 changes (max delta 0.022)
    180.09 seconds: ME NNI round 2 of 51, 4201 of 6902 splits, 587 changes (max delta 0.022)
    180.23 seconds: ME NNI round 2 of 51, 4501 of 6902 splits, 639 changes (max delta 0.022)
    180.38 seconds: ME NNI round 2 of 51, 4801 of 6902 splits, 695 changes (max delta 0.022)
    180.51 seconds: ME NNI round 2 of 51, 5101 of 6902 splits, 736 changes (max delta 0.022)
    180.65 seconds: ME NNI round 2 of 51, 5401 of 6902 splits, 771 changes (max delta 0.022)
    180.79 seconds: ME NNI round 2 of 51, 5701 of 6902 splits, 801 changes (max delta 0.022)
    180.93 seconds: ME NNI round 2 of 51, 6001 of 6902 splits, 828 changes (max delta 0.022)
    181.07 seconds: ME NNI round 2 of 51, 6301 of 6902 splits, 877 changes (max delta 0.022)
    181.22 seconds: ME NNI round 2 of 51, 6601 of 6902 splits, 924 changes (max delta 0.022)
    181.36 seconds: ME NNI round 2 of 51, 6901 of 6902 splits, 971 changes (max delta 0.022)
    181.49 seconds: ME NNI round 3 of 51, 301 of 6902 splits, 24 changes (max delta 0.004)
    181.62 seconds: ME NNI round 3 of 51, 601 of 6902 splits, 48 changes (max delta 0.008)
    181.77 seconds: ME NNI round 3 of 51, 901 of 6902 splits, 92 changes (max delta 0.016)
    181.91 seconds: ME NNI round 3 of 51, 1201 of 6902 splits, 123 changes (max delta 0.016)
    182.05 seconds: ME NNI round 3 of 51, 1501 of 6902 splits, 154 changes (max delta 0.016)
    182.19 seconds: ME NNI round 3 of 51, 1801 of 6902 splits, 179 changes (max delta 0.016)
    182.34 seconds: ME NNI round 3 of 51, 2101 of 6902 splits, 209 changes (max delta 0.016)
    182.48 seconds: ME NNI round 3 of 51, 2401 of 6902 splits, 232 changes (max delta 0.017)
    182.61 seconds: ME NNI round 3 of 51, 2701 of 6902 splits, 261 changes (max delta 0.017)
    182.75 seconds: ME NNI round 3 of 51, 3001 of 6902 splits, 296 changes (max delta 0.017)
    182.90 seconds: ME NNI round 3 of 51, 3301 of 6902 splits, 346 changes (max delta 0.017)
    183.04 seconds: ME NNI round 3 of 51, 3601 of 6902 splits, 380 changes (max delta 0.017)
    183.17 seconds: ME NNI round 3 of 51, 3901 of 6902 splits, 409 changes (max delta 0.017)
    183.31 seconds: ME NNI round 3 of 51, 4201 of 6902 splits, 432 changes (max delta 0.017)
    183.45 seconds: ME NNI round 3 of 51, 4501 of 6902 splits, 468 changes (max delta 0.017)
    183.58 seconds: ME NNI round 3 of 51, 4801 of 6902 splits, 507 changes (max delta 0.017)
    183.72 seconds: ME NNI round 3 of 51, 5101 of 6902 splits, 524 changes (max delta 0.017)
    183.85 seconds: ME NNI round 3 of 51, 5401 of 6902 splits, 547 changes (max delta 0.017)
    183.98 seconds: ME NNI round 4 of 51, 201 of 6902 splits, 6 changes (max delta 0.002)
    184.12 seconds: ME NNI round 4 of 51, 501 of 6902 splits, 27 changes (max delta 0.007)
    184.27 seconds: ME NNI round 4 of 51, 801 of 6902 splits, 54 changes (max delta 0.008)
    184.42 seconds: ME NNI round 4 of 51, 1101 of 6902 splits, 88 changes (max delta 0.008)
    184.56 seconds: ME NNI round 4 of 51, 1401 of 6902 splits, 107 changes (max delta 0.008)
    184.70 seconds: ME NNI round 4 of 51, 1701 of 6902 splits, 130 changes (max delta 0.008)
    184.85 seconds: ME NNI round 4 of 51, 2001 of 6902 splits, 171 changes (max delta 0.008)
    184.99 seconds: ME NNI round 4 of 51, 2301 of 6902 splits, 210 changes (max delta 0.011)
    185.14 seconds: ME NNI round 4 of 51, 2601 of 6902 splits, 237 changes (max delta 0.011)
    185.28 seconds: ME NNI round 4 of 51, 2901 of 6902 splits, 260 changes (max delta 0.011)
    185.42 seconds: ME NNI round 4 of 51, 3201 of 6902 splits, 298 changes (max delta 0.012)
    185.57 seconds: ME NNI round 4 of 51, 3501 of 6902 splits, 321 changes (max delta 0.012)
    185.71 seconds: ME NNI round 4 of 51, 3801 of 6902 splits, 343 changes (max delta 0.012)
    185.84 seconds: ME NNI round 5 of 51, 101 of 6902 splits, 6 changes (max delta 0.002)
    185.99 seconds: ME NNI round 5 of 51, 401 of 6902 splits, 26 changes (max delta 0.007)
    186.13 seconds: ME NNI round 5 of 51, 701 of 6902 splits, 50 changes (max delta 0.007)
    186.27 seconds: ME NNI round 5 of 51, 1001 of 6902 splits, 87 changes (max delta 0.007)
    186.37 seconds: ME NNI round 5 of 51, 1201 of 6902 splits, 122 changes (max delta 0.009)
    186.52 seconds: ME NNI round 5 of 51, 1501 of 6902 splits, 160 changes (max delta 0.009)
    186.66 seconds: ME NNI round 5 of 51, 1801 of 6902 splits, 179 changes (max delta 0.009)
    186.81 seconds: ME NNI round 5 of 51, 2101 of 6902 splits, 205 changes (max delta 0.011)
    186.95 seconds: ME NNI round 5 of 51, 2401 of 6902 splits, 223 changes (max delta 0.011)
    187.09 seconds: ME NNI round 5 of 51, 2701 of 6902 splits, 239 changes (max delta 0.012)
    187.22 seconds: ME NNI round 6 of 51, 101 of 6902 splits, 3 changes (max delta 0.001)
    187.36 seconds: ME NNI round 6 of 51, 401 of 6902 splits, 14 changes (max delta 0.009)
    187.46 seconds: ME NNI round 6 of 51, 601 of 6902 splits, 35 changes (max delta 0.009)
    187.60 seconds: ME NNI round 6 of 51, 901 of 6902 splits, 45 changes (max delta 0.009)
    187.75 seconds: ME NNI round 6 of 51, 1201 of 6902 splits, 67 changes (max delta 0.009)
    187.90 seconds: ME NNI round 6 of 51, 1501 of 6902 splits, 108 changes (max delta 0.009)
    188.05 seconds: ME NNI round 6 of 51, 1801 of 6902 splits, 135 changes (max delta 0.020)
    188.19 seconds: ME NNI round 7 of 51, 101 of 6902 splits, 0 changes
    188.33 seconds: ME NNI round 7 of 51, 401 of 6902 splits, 18 changes (max delta 0.005)
    188.44 seconds: ME NNI round 7 of 51, 601 of 6902 splits, 47 changes (max delta 0.007)
    188.59 seconds: ME NNI round 7 of 51, 901 of 6902 splits, 71 changes (max delta 0.007)
    188.69 seconds: ME NNI round 7 of 51, 1101 of 6902 splits, 83 changes (max delta 0.007)
    188.79 seconds: ME NNI round 7 of 51, 1301 of 6902 splits, 88 changes (max delta 0.007)
    188.90 seconds: ME NNI round 8 of 51, 101 of 6902 splits, 3 changes (max delta 0.007)
    189.00 seconds: ME NNI round 8 of 51, 301 of 6902 splits, 6 changes (max delta 0.007)
    189.15 seconds: ME NNI round 8 of 51, 601 of 6902 splits, 17 changes (max delta 0.007)
    189.29 seconds: ME NNI round 8 of 51, 901 of 6902 splits, 39 changes (max delta 0.012)
    189.44 seconds: ME NNI round 9 of 51, 201 of 6902 splits, 10 changes (max delta 0.007)
    189.54 seconds: ME NNI round 9 of 51, 401 of 6902 splits, 19 changes (max delta 0.007)
    189.64 seconds: ME NNI round 10 of 51, 1 of 6902 splits
    189.75 seconds: ME NNI round 10 of 51, 201 of 6902 splits, 8 changes (max delta 0.006)
    189.91 seconds: ME NNI round 11 of 51, 101 of 6902 splits, 3 changes (max delta 0.008)
    190.05 seconds: ME NNI round 12 of 51, 101 of 6902 splits, 2 changes (max delta 0.004)
    190.20 seconds: ME NNI round 15 of 51, 1 of 6902 splits
    191.04 seconds: SPR round   1 of   2, 101 of 13806 nodes
    191.78 seconds: SPR round   1 of   2, 201 of 13806 nodes
    192.65 seconds: SPR round   1 of   2, 301 of 13806 nodes
    193.54 seconds: SPR round   1 of   2, 401 of 13806 nodes
    194.36 seconds: SPR round   1 of   2, 501 of 13806 nodes
    195.18 seconds: SPR round   1 of   2, 601 of 13806 nodes
    196.00 seconds: SPR round   1 of   2, 701 of 13806 nodes
    196.85 seconds: SPR round   1 of   2, 801 of 13806 nodes
    197.61 seconds: SPR round   1 of   2, 901 of 13806 nodes
    198.40 seconds: SPR round   1 of   2, 1001 of 13806 nodes
    199.24 seconds: SPR round   1 of   2, 1101 of 13806 nodes
    200.00 seconds: SPR round   1 of   2, 1201 of 13806 nodes
    200.85 seconds: SPR round   1 of   2, 1301 of 13806 nodes
    201.63 seconds: SPR round   1 of   2, 1401 of 13806 nodes
    202.50 seconds: SPR round   1 of   2, 1501 of 13806 nodes
    203.32 seconds: SPR round   1 of   2, 1601 of 13806 nodes

In [28]:
rooted_tree.rooted_tree.save("rooted_tree.qza")

'rooted_tree.qza'

In [29]:
rooted_tree = Artifact.load("rooted_tree.qza")

In [53]:
meta_table = pd.read_csv("sample_metadata.tsv",sep="\t",dtype = {"sample-id": "str"})

In [54]:
meta_table

           sample-id     sex age_cat refined_sugars
0    10317.000023139  female     60s            Yes
1    10317.000027811    male     40s            Yes
2    10317.000031513  female     30s            Yes
3    10317.000033280  female     60s            Yes
4    10317.000038261  female     40s            Yes
..               ...     ...     ...            ...
375  10317.000065667  female     20s             No
376  10317.000065673  female     20s             No
377  10317.000065675  female     20s             No
378  10317.000065681  female     20s             No
379  10317.000065684  female     20s             No

[380 rows x 4 columns]

In [55]:
meta_table = meta_table.sort_values(by="sample-id").reset_index(drop=True)

In [56]:
otu_index = otu_table.view(pd.DataFrame).index.sort_values()

In [57]:
meta_table

           sample-id     sex age_cat refined_sugars
0    10317.000001166  female     40s             No
1    10317.000003100  female     40s             No
2    10317.000004936    male     50s             No
3    10317.000010862    male     20s             No
4    10317.000012018  female     50s             No
..               ...     ...     ...            ...
375  10317.000110177    male     30s            Yes
376  10317.000112912  female     50s            Yes
377  10317.000113026  female     40s            Yes
378  10317.000113088  female     30s            Yes
379  10317.000115199    male     60s            Yes

[380 rows x 4 columns]

In [58]:
otu_index

Index(['10317.000001166.25853', '10317.000003100.69016',
       '10317.000004936.25853', '10317.000004936.30606',
       '10317.000010862.25853', '10317.000012018.56079',
       '10317.000013727.69016', '10317.000014885.41931',
       '10317.000017272.30606', '10317.000020655.26478',
       ...
       '10317.000108903.74729', '10317.000108906.74729',
       '10317.000109022.74729', '10317.000109095.74729',
       '10317.000109791.74729', '10317.000109807.76952',
       '10317.000110177.74729', '10317.000112912.76952',
       '10317.000112912.81168', '10317.000113026.81168'],
      dtype='object', length=371)

In [59]:
non_match = []
for i in range(meta_table.shape[0]):
    result = [k for k in otu_index if k.startswith(meta_table["sample-id"][i])]
    if len(result) == 0:
        non_match.append(meta_table["sample-id"][i] )
    else: 
        meta_table["sample-id"][i] = meta_table["sample-id"][i] + result[0][-6:]

In [60]:
meta_table

                 sample-id     sex age_cat refined_sugars
0    10317.000001166.25853  female     40s             No
1    10317.000003100.69016  female     40s             No
2    10317.000004936.25853    male     50s             No
3    10317.000010862.25853    male     20s             No
4    10317.000012018.56079  female     50s             No
..                     ...     ...     ...            ...
375  10317.000110177.74729    male     30s            Yes
376  10317.000112912.76952  female     50s            Yes
377  10317.000113026.81168  female     40s            Yes
378        10317.000113088  female     30s            Yes
379        10317.000115199    male     60s            Yes

[380 rows x 4 columns]

In [61]:
meta_table_filt = meta_table.loc[~meta_table["sample-id"].isin(non_match)]

In [62]:
meta_table_filt

                 sample-id     sex age_cat refined_sugars
0    10317.000001166.25853  female     40s             No
1    10317.000003100.69016  female     40s             No
2    10317.000004936.25853    male     50s             No
3    10317.000010862.25853    male     20s             No
4    10317.000012018.56079  female     50s             No
..                     ...     ...     ...            ...
373  10317.000109791.74729    male     20s            Yes
374  10317.000109807.76952  female     40s            Yes
375  10317.000110177.74729    male     30s            Yes
376  10317.000112912.76952  female     50s            Yes
377  10317.000113026.81168  female     40s            Yes

[359 rows x 4 columns]

In [63]:
meta_table_filt.to_csv("sample_metadata.tsv",sep="\t",index=None)

In [38]:
otu_df = otu_table.view(pd.DataFrame)

OTU filtering

In [69]:
otu_df

,2941399,4425663,353737,363646,1090458,922239,845273,185021,293665,4453060,...,213762,179905,4324040,333726,199147,1808779,173916,435264,325586,4307347
10317.000023139.25853,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000027811.25853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000031513.25853,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000033280.31503,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000038261.33800,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10317.000065667.26478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000065673.25853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000065675.25853,0.0,81.0,0.0,0.0,92.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000065681.25853,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000065684.25853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [70]:
otu_df.index.isin(meta_table_filt["sample-id"])

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [75]:
otu_df = otu_df.loc[otu_df.index.isin(meta_table_filt["sample-id"])].sort_index()

In [ ]:
otu_df.transpose

In [103]:
otu_df.to_csv("otu_match.tsv", sep='\t')

In [ ]:
!biom convert -i otu_match.tsv -o otu_match.biom --table-type="OTU table" --to-hdf5

In [104]:
!qiime tools import \
  --input-path otu_match.biom\
  --type 'FeatureTable[Frequency]' \
  --input-format BIOMV210Format \
  --output-path feature_table.qza

Imported otu_match.biom as BIOMV210Format to feature_table.qza

In [113]:
!qiime feature-table transpose --i-table feature_table.qza --o-transposed-feature-table feature_table.qza

Saved FeatureTable[Frequency] to: feature_table.qza

In [114]:
from qiime2.plugins import feature_table
otu_table = Artifact.load("feature_table.qza")

In [106]:
output_viz = feature_table.visualizers.summarize(otu_table)
output_viz.visualization.save("otu_first_analysis.qzv")

'otu_first_analysis.qzv'

In [107]:
from qiime2 import Metadata
metadata = Metadata.load("sample_metadata.tsv")

In [94]:
metadata = pd.read_csv('sample_metadata.tsv', sep='\t')
metadata

                 sample-id     sex age_cat refined_sugars
0    10317.000001166.25853  female     40s             No
1    10317.000003100.69016  female     40s             No
2    10317.000004936.25853    male     50s             No
3    10317.000010862.25853    male     20s             No
4    10317.000012018.56079  female     50s             No
..                     ...     ...     ...            ...
354  10317.000109791.74729    male     20s            Yes
355  10317.000109807.76952  female     40s            Yes
356  10317.000110177.74729    male     30s            Yes
357  10317.000112912.76952  female     50s            Yes
358  10317.000113026.81168  female     40s            Yes

[359 rows x 4 columns]

In [89]:
metadata["sample-id"]

0      10317.000001166.25853
1      10317.000003100.69016
2      10317.000004936.25853
3      10317.000010862.25853
4      10317.000012018.56079
               ...
354    10317.000109791.74729
355    10317.000109807.76952
356    10317.000110177.74729
357    10317.000112912.76952
358    10317.000113026.81168
Name: sample-id, Length: 359, dtype: object

In [115]:
otu_table.view(pd.DataFrame)

,2941399,4425663,353737,363646,1090458,922239,845273,185021,293665,4453060,...,213762,179905,4324040,333726,199147,1808779,173916,435264,325586,4307347
10317.000001166.25853,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000003100.69016,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000004936.25853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000010862.25853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000012018.56079,0.0,64.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10317.000109791.74729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000109807.76952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000110177.74729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000112912.76952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000113026.81168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [111]:
import biom

b = biom.load_table("otu_match.biom")
b

359 x 6904 <class 'biom.table.Table'> with 179471 nonzero entries (7% dense)

In [91]:
np.sum(otu_table.view(pd.DataFrame).columns == metadata["sample-id"])

359

In [116]:
from qiime2.plugins import diversity
core_metrics = diversity.pipelines.core_metrics_phylogenetic(table = otu_table,
                                                             phylogeny = rooted_tree,
                                                             sampling_depth = 8200,
                                                             metadata = metadata)

/opt/anaconda3/envs/qiime2-2023.2/lib/python3.8/site-packages/sklearn/metrics/pairwise.py:1776: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)
/opt/anaconda3/envs/qiime2-2023.2/lib/python3.8/site-packages/skbio/stats/ordination/_principal_coordinate_analysis.py:143: RuntimeWarning: The result contains negative eigenvalues. Please compare their magnitude with the magnitude of some of the largest positive eigenvalues. If the negative ones are smaller, it's probably safe to ignore them, but if they are large in magnitude, the results won't be useful. See the Notes section for more details. The smallest eigenvalue is -0.3931712073149837 and the largest is 24.638091594948897.
  warn(

Running external command line application. This may print messages to stdout and/or stderr.
The command being run is below. This command cannot be manually re-run as it will depend on temporary files that no longer exist.

Command:

faithpd -i /tmp/qiime2/gr887277/data/c1d88312-0f0a-4593-9fd0-dddee5ee4bdd/data/feature-table.biom -t /tmp/qiime2/gr887277/data/d9692bf3-0edd-4885-936f-5cb62f3b81a8/data/tree.nwk -o /tmp/q2-AlphaDiversityFormat-sily2v3c

Running external command line application. This may print messages to stdout and/or stderr.
The command being run is below. This command cannot be manually re-run as it will depend on temporary files that no longer exist.

Command:

ssu -i /tmp/qiime2/gr887277/data/c1d88312-0f0a-4593-9fd0-dddee5ee4bdd/data/feature-table.biom -t /tmp/qiime2/gr887277/data/d9692bf3-0edd-4885-936f-5cb62f3b81a8/data/tree.nwk -m unweighted -o /tmp/q2-LSMatFormat-yfrd5ihu

Running external command line application. This may print messages to stdout and/or stderr.
The command being run is below. This command cannot be manually re-run as it will depend on temporary files that no longer exist.

Command:

ssu -i /tmp/qiime2/gr887277/data/c1d88312-0f0a-4593-9fd0-dddee5ee4bdd/data/feature-table.biom -t /tmp/qiime2/gr887277/data/d9692bf3-0edd-4885-936f-5cb62f3b81a8/data/tree.nwk -m weighted_unnormalized -o /tmp/q2-LSMatFormat-zh1sgicr

/opt/anaconda3/envs/qiime2-2023.2/lib/python3.8/site-packages/skbio/stats/ordination/_principal_coordinate_analysis.py:143: RuntimeWarning: The result contains negative eigenvalues. Please compare their magnitude with the magnitude of some of the largest positive eigenvalues. If the negative ones are smaller, it's probably safe to ignore them, but if they are large in magnitude, the results won't be useful. See the Notes section for more details. The smallest eigenvalue is -0.0013194195884127862 and the largest is 5.979319453635784.
  warn(
/opt/anaconda3/envs/qiime2-2023.2/lib/python3.8/site-packages/skbio/stats/ordination/_principal_coordinate_analysis.py:143: RuntimeWarning: The result contains negative eigenvalues. Please compare their magnitude with the magnitude of some of the largest positive eigenvalues. If the negative ones are smaller, it's probably safe to ignore them, but if they are large in magnitude, the results won't be useful. See the Notes section for more details. The smallest eigenvalue is -0.7423286995847758 and the largest is 28.718100678479686.
  warn(

In [68]:
import pandas as pd

In [117]:
core_metrics.rarefied_table.view(pd.DataFrame)

,2941399,4425663,353737,363646,1090458,922239,845273,185021,293665,4453060,...,4356697,213762,179905,4324040,333726,199147,1808779,173916,435264,325586
10317.000001166.25853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000003100.69016,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000010862.25853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000012018.56079,0.0,28.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000013727.69016,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10317.000109095.74729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000109791.74729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000109807.76952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000110177.74729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10317.000113026.81168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
core_metrics_rarefied_table_df = core_metrics.rarefied_table.view(pd.DataFrame).reset_index().melt(id_vars=['index'],
                                                          var_name="feature", 
                                                          value_name="Value")
core_metrics_rarefied_table_df.to_csv('core_metrics_rarefied_table_df.csv')
core_metrics_rarefied_table_df

                         index  feature  Value
0        10317.000001166.25853  2941399    0.0
1        10317.000003100.69016  2941399    0.0
2        10317.000010862.25853  2941399    0.0
3        10317.000012018.56079  2941399    0.0
4        10317.000013727.69016  2941399    0.0
...                        ...      ...    ...
1785987  10317.000109095.74729   325586    0.0
1785988  10317.000109791.74729   325586    0.0
1785989  10317.000109807.76952   325586    0.0
1785990  10317.000110177.74729   325586    0.0
1785991  10317.000113026.81168   325586    0.0

[1785992 rows x 3 columns]

In [119]:
core_metrics_rarefied_table_df

                         index  feature  Value
0        10317.000001166.25853  2941399    0.0
1        10317.000003100.69016  2941399    0.0
2        10317.000010862.25853  2941399    0.0
3        10317.000012018.56079  2941399    0.0
4        10317.000013727.69016  2941399    0.0
...                        ...      ...    ...
1785987  10317.000109095.74729   325586    0.0
1785988  10317.000109791.74729   325586    0.0
1785989  10317.000109807.76952   325586    0.0
1785990  10317.000110177.74729   325586    0.0
1785991  10317.000113026.81168   325586    0.0

[1785992 rows x 3 columns]

In [121]:
observed_otus_vector_group_significance = diversity.actions.alpha_group_significance(core_metrics.observed_otus_vector,
                                                                                     metadata)
observed_otus_vector_group_significance.visualization

AttributeError: 'Results' object has no attribute 'observed_otus_vector'

In [122]:
shannon_vector_group_significance = diversity.actions.alpha_group_significance(core_metrics.shannon_vector,
                                                                         metadata)
shannon_vector_group_significance.visualization.save("shannon.qzv")

'shannon.qzv'

In [123]:
faith_pd_group_significance = diversity.actions.alpha_group_significance(core_metrics.faith_pd_vector,
                                                                         metadata)
faith_pd_group_significance.visualization.save("faith_pd.qzv")

'faith_pd.qzv'

In [124]:
evenness_group_significance = diversity.actions.alpha_group_significance(core_metrics.evenness_vector,
                                                                         metadata)
evenness_group_significance.visualization.save("evenness_group.qzv")

'evenness_group.qzv'

In [125]:
bray_curtis_distance_significance = diversity.actions.beta_group_significance(core_metrics.bray_curtis_distance_matrix,
                                                                           metadata.get_column('refined_sugars'))
bray_curtis_distance_significance.visualization.save("bray_curtis.qzv")

'bray_curtis.qzv'

In [126]:
jaccard_distance_significance = diversity.actions.beta_group_significance(core_metrics.jaccard_distance_matrix,
                                                                           metadata.get_column('refined_sugars'))
jaccard_distance_significance.visualization.save("jaccard_beta.qzv")

'jaccard_beta.qzv'

In [132]:
unweighted_unifrac_significance = diversity.actions.beta_group_significance(core_metrics.unweighted_unifrac_distance_matrix,
                                                                           metadata.get_column('refined_sugars'))
unweighted_unifrac_significance.visualization.save("unweighted_unifrac.qzv")

'unweighted_unifrac.qzv'

In [131]:
weighted_unifrac_significance = diversity.actions.beta_group_significance(core_metrics.weighted_unifrac_distance_matrix,
                                                                           metadata.get_column('refined_sugars'))
weighted_unifrac_significance.visualization.save("weighted_unifrac.qzv")

'weighted_unifrac.qzv'

In [135]:
from qiime2.plugins import emperor
emperor_plot = emperor.visualizers.plot(core_metrics.unweighted_unifrac_pcoa_results,
                                        metadata)
                                        #custom_axes=['DaysSinceExperimentStart'])
emperor_plot.visualization.save('emperor.qzv')

'emperor.qzv'